<div class="mainContainer">

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" style="padding:35px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
  </nav>
  



  <div class="card mb-3" style="padding:24px;">
    
  
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height:650px">
        <img src="../assets/bmw.jpeg"   class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Starting from R1 600 000</h5>
          <p>The eight-speed automatic transmission controlled by this shifter remains the excellent ZF 8HP, enhanced by the 48-volt hybrid system that's spreading through the BMW lineup.</p>
        </div>
      </div>
      <div class="carousel-item"  style="height:650px">
        <img src="../assets/BMW2.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>10L/100km</h5>
          <p>In normal driving, this M340i feels very quick and effortlessly muscular.</p>
        </div>
      </div>
      <div class="carousel-item"  style="height:650px">
        <img src="../assets/BMW3.jpeg"  class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>2023 BMW M340i xDrive</h5>
          <p>Vehicle Type: front-engine, all-wheel-drive, 5-passenger, 4-door sedan</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>


</div>
</div>
 


<div class="card-body text-center">
    <h1 class="card-title">Popular products</h1>
  </div>
  
  <div   class="row row-cols-1 row-cols-md-4 g-4 justify-content-center" style="padding: 13px; padding-bottom: 35px; margin-left: 15px;">
    <div  *ngFor="let product of productList" class="col">
      <div class="card" style="width: 18rem; height:500px">
        <img src={{product.image}} class="card-img-top image" alt="..."/>
        <div class="card-body wrapper">
          <h5  class="card-title wrappTitle">{{product.title}}</h5>
          <P style="color: lawngreen" class="price">R{{product.price}}</P>
          <p  class="card-text wrappDetails">{{product.description}}</p>
          <button type="button"  class="btn btn-outline-primary">View more</button>
          <button  type="button" (click)="handleClick()" class="btn btn-outline-success" style="float:right"  >Add to cart</button>
          <!-- <button type="button" class="btn btn-outline-success">Add ro cart</button> -->
         
        </div>
      </div>
    </div>
  </div>
</div>
  
 